[Desktop Entry]
Type=Application
Name=Vim
GenericName=Text Editor
Comment=Edit text files
Icon=gvim
Categories=Utility;TextEditor;
Keywords=Text;editor;
TryExec=vim
Exec=i3-sensible-terminal -e "vim %f"
Terminal=false
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
